<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./styles/main.css">
        <link rel="stylesheet" type="text/css" href="./styles/bootstrap.css">
    </head>
    <body>
        <div class="main">
            <a class="logo" href="./index.html">
                <img src="./images/flowerShopLogo.png" width="207" height="124" alt="flowers" />
            </a>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody id="flowerInventoryTableBody">
                    </tbody>
                </table>
            </div>
        </div>
        
        <script id="flowerTable" type="text/template">
            <td><img src="<%= img %>" alt="<%= name %>" class="image" /></td>
            <td><%= name %></td>
            <td><%= price %></td>
        </script>
        <!-- main libraries -->
        <script src="./scripts/libs/jquery-3.1.1.js"></script>
        <script src="./scripts/libs/underscore.js"></script>
        <script src="./scripts/libs/backbone.js"></script>
        <script src="./scripts/libs/tether.min.js"></script><!-- Tether for Bootstrap -->
        <script src="./scripts/libs/bootstrap.js"></script> 
        <!-- models -->
        <script src="./scripts/models/singleFlowerModel.js"></script>
        <!-- views -->
        <script src="./scripts/views/flowerTableViews/singleFlowerTableRowView.js"></script>
        <script src="./scripts/views/flowerTableViews/allFlowerRowsView.js"></script>
        <!-- collections -->
        <script src="./scripts/collections/allFlowers.js"></script>
        <!-- app -->
        <script src="./scripts/flowerTableApp.js"></script>
    </body>
</html>