<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./styles/main.css">
        <link rel="stylesheet" type="text/css" href="./styles/bootstrap.css">
    </head>
    <body>
        <div class="main">
            <a class="logo" href="./index.html">
                <img src="./images/flowerShopLogo.png" width="207" height="124" alt="flowers" />
            </a>
            <div class="container">
                <div id="allFlowers" class="row"></div>
            </div>
            <div id="copy" class="container"></div>
        </div>
        
        <script id="flowerElement" type="text/template">
            <a href="#<%= link %>">
                <img src="<%= img %>" alt="<%= name %>" class="image" />
                <% console.log("test inline js") %>
            </a>
            <ul>
                <li class="flowerInfo"><strong>Name:</strong><%= name %></li>
                <li class="flowerInfo"><strong>Price:</strong><%= price %></li>
                <li class="flowerInfo"><strong>Color:</strong><%= color %></li>
            </ul>
        </script>
        <!-- main libraries -->
        <script src="./scripts/libs/jquery-3.1.1.js"></script>
        <script src="./scripts/libs/underscore.js"></script>
        <script src="./scripts/libs/backbone.js"></script>
        <script src="./scripts/libs/tether.min.js"></script><!-- Tether for Bootstrap -->
        <script src="./scripts/libs/bootstrap.js"></script> 
        <!-- view libraries -->
        <script src="./scripts/models/singleFlowerModel.js"></script>
        <script src="./scripts/views/flowerViews/singleFlowerView.js"></script>
        <script src="./scripts/views/flowerViews/allFlowersView.js"></script>
        <script src="./scripts/collections/allFlowers.js"></script>
        <script src="./scripts/routes/router.js"></script>
        <script src="./scripts/flowerApp.js"></script>
    </body>
</html>